djangorestframework
drf-spectacular
psycopg2
ruff
pytest
pytest-django
celery
botocore
boto3
pycurl
django-minio-storage # For local s3 like storage
redis
django-elasticsearch-dsl
django-extensions  # For shell_plus